

<div class="logins">
  <div class="mailroom">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  
    <h2> Email </h2><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>


    <h2>PassWord </h2><br />
    <%= f.password_field :password, autocomplete: "off" %>
    <br>
  

  <% if devise_mapping.rememberable? -%>

      <%= f.check_box :remember_me %>
      
  
  <% end -%>

  <div class="actions">
    <%= f.submit "login" %>
  </div>
<% end %>

<%= render "users/shared/links" %>
</div>
</div>