<h1>マイページ</h1>
<p>名前 : <%= @user.name %></p>
<p>メールアドレス : <%= @user.email %></p>
<p>プロフィール : <%= @user.profile %></p>
<%= render 'relationships/follow_button', user: @user %>

<% if current_user.id == @user.id %>
  <%= link_to "編集する", edit_user_registration_path %>
<% end %>

<h2>ユーザーの投稿一覧</h2>
<% @user.posts.each do |t| %>
  <div class="post">
    <%= image_tag t.image_url, size: "250x200" if t.image? %>
  <%= t.title %>
  <%= t.media %>
  <%= t.actor %>
  <%= t.genre %>
<% end %>
<div>


<%= link_to "Reaserch一覧に戻る", posts_path %>

