<%= form_for @post do |f| %>
    <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title, :size => 140 %>
    </div>
    <div class="field">
    <%= f.label :media %>
    <%= f.text_field :media, :size => 140 %>
    </div>
    <div class="field">
    <%= f.label :actor %>
    <%= f.text_field :actor, :size => 140 %> 
    </div>
    <div class="field">
    <%= f.label :genre %>
    <%= f.text_field :genre, :size => 140 %> 
    </div>
    <%= f.submit "編集する" %>
    
  <% end %>