
<div class="parent">


  <%= search_form_for @q, url: search_posts_path do |f| %>
  

  <p>
  <div class="field">
    <font face="Comic Sans MS">title</font>
    <%= f.search_field :title_cont %>
    <br>
    
    
    <font face="Comic Sans MS">media</font>
    <%= f.search_field :media_cont %>
    <br>
    
    <font face="Comic Sans MS">actor</font>
    <%= f.search_field :actor_cont %>
    <br>

    <font face="Comic Sans MS">genre</font>
    <%= f.search_field :genre_cont %>

    <br>
    <div class="kensaku">
      <%= f.submit '検索' %>
      <% end %>
    </div>  
  </div>

      <div class="posts-container">
        <% @posts.each do |t| %>
        <p>
        <div class="left-container">
          <%= image_tag t.image_url, size: "250x200" if t.image? %>
          <br>
          <%= t.title %>
          <br>
          <hr>
          <%= t.media %>
          <br>
          <hr>
          <%= t.actor %>
          <br>
          <hr>
          <%= t.genre %>
          <br>
          <hr>
          <h3>総合評価：
          <span class="star-rating">
          <span class="star-rating-front" style="width: <%= getPercent(t.overall) %>%;">★★★★★</span>
          <span class="star-rating-back">★★★★★</span>
          </span> 
          </h3>
          <%= link_to "詳細へ", post_path(t.id) %>
          <br>
            <%= t.user.email %>
            <% if user_signed_in? %>
            <%= link_to "マイページへ", user_path(t.user_id) %>
            
            <% end %>
          
          </div> 
      <% end %>
        <div class="page">
            <%= paginate(@posts) %>
          </div>
</div>