<div class="souiti">
  <div class="kekka">
    <% @results.each do |t| %>
      <p>
      <div class="eiga">
        <%= image_tag t.image_url, size: "250x200" if t.image? %>    
        <br>
        <%= t.title %>
        <br>
        <hr>
        <%= t.media %>
        <br>
        <hr>
        <%= t.actor %>
        <br>
        <hr>
        <%= t.genre %>
        <br>
        <hr>
        <%= t.user.email %>
        <br>
        <%= link_to "マイページへ", user_path(t.user_id) %>
        <br>
        <%= link_to "詳細へ", post_path(t.id) %>
        <%= link_to "編集する", edit_post_path(t.id) %>
        <%= link_to "削除する", post_path(t.id), method: :delete %>
      
      </div>  
    <% end %>
      
  </div>
</div>