<div class="shousai">
  <div class="youhiti">
    <%= image_tag @post.image_url, size: "400x500" if @post.image? %>
  </div>
    <div class="kuniyasu">
      <p><%= @post.title %></p>
      <hr>
      <p><%= @post.media %></p>
      <hr>
      <p><%= @post.actor %></p>
      <hr>
      <p><%= @post.genre %></p>
      <hr>
      <p><%= @post.comment %></p>
      <hr>
      <p><%= @post.created_at %></p>
      <hr>
    </div>

    <div class="comment-wrapper">
      <p>コメント一覧</p>
      <% @comments.each do |c| %>
      <%= c.user.email unless c.user.blank? %>
      <br>
      <%= c.content %>
    
      <% end %>
      <% if user_signed_in? %>
      <%= form_with(model: [@post, @comment], local: true) do |f| %>
      <%= f.text_area :content %>
      <%= button_tag type: "submit" do %>
      <i class="far fa-comments"></i> コメントする
      <% end %>
      <% end %>
      <% end %>
      <%= link_to "編集する", edit_post_path(@post.id) %> 
    </div>
</div>